@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.css";


body {
    font-family: Poppins;
    background-image: url("./images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
}